.App {
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  /* display: flex; */
  /* align-items: center; */
}

.container-fluid {
  background-color: #defff7;
  color: #4d4d4d;
  border-radius: 10px;
}

.img-fluid {
  margin: 0;
  padding: 2%;
  border: none;
}

.svg-inline {
  padding: 2%;
}

.media {
  background-color: #defff7;
  color: #4d4d4d;
}

.col-sm- {
  justify-content: center;
}

.row {
  margin: 0;
  padding-bottom: 2%;
  border: none;
}

div#logo {
  text-align: center;
  font-size: x-large;
  padding: 10%;
  padding-bottom: 0;
  margin: 0;
  border: none;
  color: #4d4d4d;
}

div.jumbotron {
  background-color: #defff7;
  text-align: center;
  color: #4d4d4d;
}

ol.breadcrumb {
  background-color: #defff7;
  color: #4d4d4d;
}

.card-group {
  display: flex;
  margin: 0 auto;
  width: 900px;
  justify-content: space-between;
  padding: 5%;
}

.card {
  margin: 2%;
}

.card-img-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #defff7;
}

.card-group .card-img-overlay:hover {
  opacity: 0.75;
}

.card-title {
  color: #4d4d4d;
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-pills .nav-item .active.nav-link.active {
  background-color: #defff7;
  color: #4d4d4d;
}

.btn.btn-primary.btn-lg {
  background-color: #defff7;
  border: none;
  color: #4d4d4d;
  position: relative;
  width: 50%;
}

.btn.btn-primary.btn-lg: :hover {
  background-color: #4d4d4d;
}

div#margin-box {
  margin: 5%;
  padding: 0;
  border: 10%;
}

div#margin-box .media {
  margin: 0;
  padding: 2%;
  border: 0;
}

div#margin-box .media-body {
  margin: 0;
  padding: 2%;
  border: 0;
}

#footer.container-fluid {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #defff7;
  color: #4d4d4d;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
}
